@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ciao!</h1>
    <h2> Welcome to PizzaBox!</h2>
    <p>
        Thank you for choosing PizzaBox! 
        We collectively strive to make sure
        each individual pizza is made to perfection! 
        We cannot wait to service you with our most 
        delicious hand-crafted masterpieces.  
    </p>
    @if(TempData["SuccessMessage"] != null)
            {
                <label class="text-success">
                    @TempData["SuccessMessage"]
                </label>
            }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
